<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.melodyl.mapper.table.TableMapper">
    <insert id="insertColumnTableMapping" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO column_table_mapper (mapper_id, column_field_name, column_type, column_length)
        VALUES
        <foreach collection="columnContext" index="index" item="column" separator=",">
            (#{tableID}, #{column.name}, #{column.type}, #{column.length})
        </foreach>
    </insert>
</mapper>